{% load thumbnail %}
{% load i18n %}
{% load content_tags %}

<div class="thumb span4">
    <div class="image list-image">
        {% list_image object.race %}
    </div>
    <h3 class="title">{{ object.race.name }}</h3>
    <div class="meta">
        <!--  Dato -->
        <div class="field">
            <span class="label grey">Dato:</span>
            <span class="value">{{ object.event_start|date:"j. b." }} - {{ object.event_end|date:"j. b." }}</span>
        </div>        
        
        <!--  Competition classes -->
        {% for obj in object.get_competition_classes_sorted %}
        <div class="field">
            <span class="label grey">{% trans obj.category.1 %}: </span>
            <span class="value">
                {% for item in obj.list %}{% if not forloop.first %}, {% endif %}
                {{ item.name }}{% empty %}
                {% trans 'None' %}
                {% endfor %}
            </span>
        </div>
        {% endfor %}
    </div>
    <div class="description">
        {{ object.race.description|truncatewords:25 }}
    </div>
    <a class="button" href="{% url 'race_detail' object.race.pk %}">Læs mere om løbet</a>
</div>