{% extends 'site/page_std.html' %}
{% load thumbnail %}
{% load markup_tags %}
{% load registration_tags %}
{% load race_tags %}
{% load content_tags %}

{% block title %}{{ race.name }}{% endblock %}

{# Header #}
{% block page_title %}{{ object.name }} <span class="hint">(Løb)</span>{% endblock %}

{# Cover image #}
{% block cover %}
    <div class="image cover-image">
        {# cover_image object False #}
    </div>
{% endblock %}

{% block page_content %}
    <section id="race">
        <div class="description">
            {% autoescape off %}
            {{ object.description|apply_markup:"markdown" }}
            {% endautoescape %}
        </div>
    </section>

    <hr />

    {# Seasonal Admissions widget #}
    <section id="race-seasonal-admissions" class="seasonal-widget clearfix" data-behavior="SeasonalAdmissionsWidget" data-seasonaladmissionswidget-options="{'dataUrl':'{% url 'api_race_seasonal_admissions' race.pk %}'}">
        <header>
            <h3>Tilmelding <span class="hint season"></span></h3>
        </header>
    </section>

{% endblock %}

{% block page_aside %}
    
    {# Seasonal Races widget #}
    <section id="seasonal-races" class="seasonal-widget widget clearfix" data-behavior="SeasonalRaceWidget" data-seasonalracewidget-options="{'dataUrl':'{% url 'api_race_seasonal_races' race.pk %}'}">
    <header>
        <h3>Sæsonløb <span class="hint season"></span></h3>
    </header>
    </section>

{% endblock %}