<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="utf-8">
    <title>{% block 'title' %}Adventurespejd liga{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Adventurespejd liga">

    {# Debug setup #}
    {% if debug %}

    <link rel="stylesheet" type="text/css" href="/static/site/css/bootstrap.css" />
    <link href="{{STATIC_URL}}site/moo/contrib/datepicker/Source/datepicker_dashboard/datepicker_dashboard.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/site/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/static/site/css/styles.css" />

    <!-- Scripts -->
    <script type="text/javascript" src="/static/site/js/less-1.3.3.min.js"></script>
    <script type="text/javascript" src="/static/site/js/mootools-built.js"></script>

    <!-- Mootools -->
    <script type="text/javascript" src="/static/site/moo/src/filterform.js"></script>
    <script type="text/javascript" src="/static/site/moo/src/tabbablecontent.js"></script>
    <script type="text/javascript" src="/static/site/moo/src/dropdown.js"></script>
    <script type="text/javascript" src="/static/site/moo/src/tableselectall.js"></script>

    <!-- Mootools datepicker -->
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Locale.da-DK.DatePicker.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Picker.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Picker.Attach.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Picker.Date.js" type="text/javascript"></script>

    <script type="text/javascript" src="/static/site/moo/widgets.js"></script>
    <script type="text/javascript" src="/static/site/moo/behaviors.js"></script>

    <!-- jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>

    <!-- KO -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js" type="text/javascript"></script>

    {% else %}

    <!-- Styles (css) -->
    <link rel="stylesheet" type="text/css" href="/static/site/css/bootstrap.css" />
    <link href="{{STATIC_URL}}site/moo/contrib/datepicker/Source/datepicker_dashboard/datepicker_dashboard.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/site/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/static/site/css/styles.css" />

    <!-- Scripts -->
    <script type="text/javascript" src="/static/site/js/mootools-built.js"></script>

    <!-- Mootools -->
    <script type="text/javascript" src="/static/site/moo/src/filterform.js"></script>
    <script type="text/javascript" src="/static/site/moo/src/tabbablecontent.js"></script>
    <script type="text/javascript" src="/static/site/moo/src/dropdown.js"></script>
    <script type="text/javascript" src="/static/site/moo/src/tableselectall.js"></script>

    <!-- Mootools datepicker -->
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Locale.da-DK.DatePicker.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Picker.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Picker.Attach.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}site/moo/contrib/datepicker/Source/Picker.Date.js" type="text/javascript"></script>

    <script type="text/javascript" src="/static/site/moo/widgets.js"></script>
    <script type="text/javascript" src="/static/site/moo/behaviors.js"></script>

    <!-- jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>

    {% endif %}

    <body>
        <div id="header" class="outer-container">
            {% load account_tags %}
            {% user_menu user %}
            {% include 'site/menus/site_menu.html' %}

            <div class="site-logo">
                <a href="{{ SITE_URL }}">
                    <img src="{{ STATIC_URL }}/site/img/img-logo.png" />
                </a>
            </div>

        </div>
        <div class="outer-container large-rounded-box">
            <div id="cover">
                {% block cover %}{% endblock %}
            </div>

            <div class="container">
                <div id="main" class="row">
                    {% block main %}
                    {% endblock %}
                </div>
                <div id="footer" class="row">
                    {% block footer %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% include 'site/footer.html' %}

        {% block extra_script %}{% endblock %}
    </body>
</html>
