<footer class="container">
    <div class="row">
        <div class="span12">
            <h4>Adventurespejd ligaen</h4>
            <hr class="light" />
        </div>
        <div class="eksternal-links span3">
            <ul class="footer-menu">
                <li><a href="http://spejder.dk">spejder.dk</a></li>
                <li><a href="http://spejder.dk">dds.dk</a></li>
            </li>
        </div>
        <div class="internal-links span3">
            <ul class="footer-menu">
                <li><a href="/regler">Regler</a></li>
                <li><a href="/om-ligaen">Om adventurespejd ligaen</a></li>
                <li><a href="/faq">FAQ</a></li>
            </li>            
        </div>
        <div class="logos span6">
            <a href="http://dds.dk"><img class="logo-dds" src="{{STATIC_URL}}site/img/logo-dds.png" /></a>
            <a href="/"><img class="logo-liga" src="{{STATIC_URL}}site/img/logo-liga.png" /></a>
        </div>
    </div>
</footer>
