{% extends 'site/base.html' %}

{% block main %}

{# Main content #}
<div id="main-content" class="span12">
  
  <header>
    <h1 class="title">
      {% block page_title %}No title{% endblock %}
    </h1>    
  </header>

  {% block page_content %}No content{% endblock %}
</div>

{% endblock %}
