{% extends 'site/base.html' %}
{% load django_tables2 %}

{% block main %}

    <section id="table-test" class="span12">

        <!-- Form starts -->
        <form id="filter-form" action="{{ request.path }}" method="GET">

        <div class="row">
            <header class="span9">
                <h1 class="title">
                    {{ page_headline }}
                </h1>
                <div class="description">
                    <p>{{ page_description }}</p>
                </div>
            </header>
            <div class="search-widget span3">
            {% with filter_form.search as field %}
                <div class="search-field">
                    <input type="search" placeholder="{{ field.label }}" value="{{ field.value }}" name="{{ field.name }}" id="id_{{ field.name }}">
                </div>
            {% endwith %}
            </div>
        </div>

        <div class="filter-widget">
            <div class="row">
                
                <!-- Fields -->
                {% with filter_form.season as field %}
                <div class="select-field field span3">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endwith %}
                {% with filter_form.class_age as field %}
                <div class="select-field field span3">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endwith %}
                {% with filter_form.class_competition as field %}
                <div class="select-field field span3">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endwith %}
                {% with filter_form.list_type as field %}
                <div class="radio-field radio-horizontal field span2">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endwith %}
                
                <!-- Reset link -->
                <div class="reset-action span1">
                {% if request.GET %}
                    <a href="{{ request.path }}">Reset</a>
                {% endif %}
                </div>

                <!-- Submit -->
                <div class="submit-action span12">
                    <input type="submit" />
                </div>
            </div>
        </div>

        </form>

        <!-- list -->    
        {% if list_type == 'table' %}
        <div class="table-list">
            {% render_table table %}
        </div>
        {% elif list_type == 'thumbs' %}
        <div class="thumbs-list">
            <div class="row">
            {% for object in object_list %}
            {% include thumb_template %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

    </section>

{% endblock %}