<div class="thumb span3">
    <h2 class="title">{{ object.patrol.name }}</h2>
    <div class="meta">
        <div class="field">
            <span class="label grey">Dato:</span>
            <span class="value">{{ object.event_start|date:"j. b." }} - {{ object.event_end|date:"j. b." }}</span>
        </div>        
        <div class="field">
            <span class="label grey">Aldersklasse:</span>
            <span class="value">{{ object.get_class_age_display }}</span>
        </div>
        <div class="field">
            <span class="label grey">Konkurrenceklasse:</span>
            <span class="value">{{ object.get_class_gender_display }}</span>
        </div>
    </div>
    <a class="button" href="#">Læs mere om patruljen</a>
</div>