{% for admission in admissions %}
{% if not forloop.first %}<hr />{% endif %}
<section id="race-admission" class="content-section clearfix">
    <header>
        <h3 class="title">
            Tilmelding <span class="hint">({{ admission.seasonal_admission.seasonal_race.season }})</span>
        </h3>
    </header>
    {% if admission %}
    {# Admission exists (for this season) #}
        <p>Du kan tilmelde dig som:</p>
        <ul>
        {% for comp_class in admission.seasonal_race.competition_classes.all %}
            {% if comp_class.category == 'age' %}
            <li>{{ comp_class.name }}</li>
            {% endif %}
        {% endfor %}
        </ul>

    {% if admission.is_open %}
    {# Admission exists (for this season) and user has valid competition class #}
        {% if not user.is_authenticated and user_seasonal_patrol %}
            <div class="alert">Du skal være logget ind for at tilmelde dig!</em></div>
        {% else %}

        <div class="alert">Tilmeldingen til dette løb er åbnet. <em>Tilmeldingen lukker {{ admission.admission_end }}.</em></div>
        <a href="{% url 'registration_registration' admission.seasonal_race.get_league_id %}" class="button red">Gå til tilmelding</a>
    {% endif %}

    {% else %}
        <div class="alert">Tilmeldingen til dette løb er ikke åbnet. <em>Tilmeldingen åbner {{ admission.admission_start }}.</em></div>
    {% endif %}
    {% else %}
        <div class="alert">Dette løb har endnu ikke oprettet tilmelding for denne sæson!</em></div>
    {% endif %}
</section>
{% endfor %}
