{% load django_tables2 %}
<section id="user-seasonal-admissions" class="content-section">
    <header>
        <h3>Tilmeldinger <span class="hint">(patrulje)</span></h3>
    </header>
    {% if action_needed %}
    <div class="alert">{{ action_needed }}</div>
    {% else %}
    <p>Tilmeldinger du har lavet for din patrulje</p>
    {% render_table registrations_table %}
    {% endif %}
</section>