{% load django_tables2 %}
<section id="user-seasonal-admissions" class="content-section clearfix">
    <header>
        <h3>Sæsonoptagelser <span class="hint">(<a href="#">løb</a>)</span></h3>
    </header>
    {% if action_needed %}
    <div class="alert">{{ action_needed }}</div>
    {% else %}
    <p>Sæsonoptagelser for dine løb. <a href="#">Hvad er en sæsonoptagelse?</a><br /></p>
    {% render_table adm_table %}
    <a class="button" href="{% url 'admission_create' %}">Tilføj sæsonoptagelser</a>
    {% endif %}
</section>