{# Render forms fields as divs with some commons classes #}
{% load league_form_helpers %}
<div id="{{ field.html_name }}-field" class="{% field_css_class field %} field">
    {# Errors #}
    {% if field.errors %}<div class="errors">{{ field.errors }}</div>{% endif %}
    {# Label #}
    <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}&nbsp;<span class="required">*</span>{% endif %}</label>
    {# Field #}
    <div class="controls">
        {{ field }}
    	{# Help text #}
    	{% if field.help_text %}
    	<div class="description">{{ field.help_text }}</div>
    	{% endif %}
	</div>
</div>