{# Render forms fields as spans with some commons classes #}
{% load league_form_helpers %}
<span id="{{ field.html_name }}-field" class="{% field_css_class field %} field">
    {# Errors #}
    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
    {# Label #}
    <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}&nbsp;<span class="required">*</span>{% endif %}</label>
    {# Field #}
    <span class="controls">
        {{ field }}
    	{# Help text #}
    	{% if field.help_text %}
    	<span class="description">{{ field.help_text }}</span>
    	{% endif %}
	</span>
</span>