// Based on twitter bootstrap http://twitter.github.com/bootstrap/

//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------
@staticDir:       '/static/site/';

// Colors
// -------------------------
@black:                 #030303;
@darkGrey:              #1A1A1A;
@midGrey:               #262626;
@warmGrey:              #212121;

@lineGrey:              #333;
@buttonGrey:            #323232;

@lightGrey:             #777;
@brokenWhite:           #E3E3E3;
@textWhite:				#AAA;
@white:                 #FFF;

@red:                   #E43229;

@linkColor:             @red;
@linkColorHover:        @red;

// Typography
// --------------------------------------------------
@displayFont:             'Titillium Web', sans-serif;
@bodyFont:                'Source Sans Pro', sans-serif;
@monoFont:                'Source Code Pro', sans-serif;

@baseFontSize:            14px;
@baseLineHeight:          1.5em;
@baseFontWeight:          300;
@strongFontWeight:        500;
@displayFontWeight:       500;

// Misc
// --------------------------------------------------
@baseBorderRadius:        5px;
@iconSpritePath:          '/static/site/img/glyphicons-halflings.png';
@iconWhiteSpritePath:     '/static/site/img/glyphicons-halflings-white.png';

// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         50px;
@gridGutterWidth:         30px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     64px;
@gridGutterWidth1200:     34px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      34px;
@gridGutterWidth768:      26px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);
