{% if content.profile %}
<h3>{{ content.profile.full_name }}</h3>
<div class="meta">
    <div class="field full-name">
        <span class="label grey">Født</span>
        <span class="value">{{ content.profile.birth_date }}</span>
    </div>
    <div class="field full-address">
        <span class="label grey">Adresse</span>
        <span class="value">
            {{ content.profile.address }},
            {{ content.profile.postal_code }} - {{ content.profile.city }}
        </span>
    </div>
    <div class="field full-name">
        <span class="label grey">Emailadresse</span>
        <span class="value">{{ content.user.email }}</span>
    </div>    
</div>
<a href="{% url 'accounts_profile_edit' content.profile.pk %}" class="button red">Redigér profil</a>
{% else %}
<a href="{% url 'accounts_profile_create' %}" class="button red">Opret profil</a>
{% endif %}