<nav class="site-login dropdown" data-behavior="Dropdown">
  <div class="inner">
    {# header #}
    <div class="caption">
      {% if header.url %}<a href="{{ header.url }}">{% endif %}{{ header.label }}{% if header.url %}</a>{% endif %} <i class="icon-chevron-down icon-white"></i>
    </div>
    <ul class="links">
      {% for item in items %}
      <li><a href="{{ item.url }}">{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>