<table id="participant_form" data-behavior='TableSelectAll'>
    <thead>
        <th class="include">
            <input type="checkbox">
        </th>
        <th class="name">Navn</th>
        <th class="sex">Køn</th>
        <th class="phone">Telefon</th>
        <th class="email">Email</th>
        <th class="birth_date">Fødselsdag</th>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="include">
                <input type="checkbox" name="include" value="{{ item.pk }}"{% if item.pk|slugify in form.include.data %} checked{% endif %}>
            </td>
            <td class="name">{{ item.name }}</td>
            <td class="sex">{{ item.get_sex_display }}</td>
            <td class="phone">{{ item.phone }}</td>
            <td class="email">{{ item.email }}</td>
            <td class="birth_date">{{ item.birth_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>