{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}Registreringsfejl{% endblock %}

{# Header #}
{% block page_title %}Registreringsfejl{% endblock %}

{# Content #}
{% block page_content %}
    
<div class="alert red-clr">{{ error|safe }}</div>
<p>Kontakt evt. support@adventurespejd.dk</p>

{% endblock %}