<table id="participant_form">
    <thead>
        <th class="include">
            <input type="checkbox">
        </th>
        <th class="name">Navn</th>
        <th class="phone">Telefon</th>
        <th class="birth_date">Fødselsdag</th>

        <th class="tshirt">T-shirt?</th>
        <th class="stamp">Alm. mærke?</th>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="include">
                <input type="checkbox" name="include" value="{{ item.pk }}"{% if item.pk|slugify in form.include.data %} checked{% endif %}>
            </td>
            <td class="name">{{ item.name }}</td>
            <td class="phone">{{ item.phone }}</td>
            <td class="birth_date">{{ item.birth_date }}</td>

            <td class="tshirt">
                <select name="tshirt" style="width:8em">
                    <option value="0">- ingen -</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="2XL">2XL</option>
                    <option value="3XL">3XL</option>
                    <option value="4XL">4XL</option>
                </select>
            </td>
            <td class="stamp-std">
                <input type="checkbox" name="stamp_std" value="{{ item.pk }}"> Ja
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" name="total_price" id="hidden-total-price">
