{% extends 'site/page_single_col.html' %}
{% load i18n %}


{% block title %}{% trans "Admission overview" %}{% endblock %}

{# Header #}
{% block page_title %}{{ seasonal_admission.seasonal_race }} <span class="hint">(tilmeldinger)</span>{% endblock %}

{# Content #}
{% block page_content %}

<hr>

<div class="meta">
    <div class="field">
        <span class="label grey">Tilmeldte patruljer</span>
        <span class="value">{{ seasonal_admission.registration_set.count }}</span>
    </div>
</div>

<p><a href="{% url 'admission_export' seasonal_admission.pk %}">Download som csv</a> (Højreklik og vælg "gem link som...")</p>

<div class="table-list">
    <table class="admission-overview">
        <thead>
            <th>Navn</th>
            <th>Tilmeldte</th>
            <th>Tilmeldingsdetaljer</th>
            <th>Tilmeldingsdato</th>
        </thead>
        {% for registration in seasonal_admission.registration_set.all %}
        <tr>
            <td><strong>{{ registration.seasonal_patrol }}</strong></td>
            <td>
                <ul>
                    {% for member in registration.patrol_members.all %}
                    <li>{{ member.name }}, {{ member.phone }}, <a href="mailto:{{ member.email }}">{{ member.email }}</a>,&nbsp;&nbsp;</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    <li>Tlf. 1: {{ registration.get_extra_data.primary_phone }}</li>
                    <li>Tlf. 2: {{ registration.get_extra_data.secondary_phone }}</li>
                    <li>Bemærk: {{ registration.get_extra_data.comments }}</li>
                    <li>
                        Merchandise: <br>
                        {% for item in registration.get_extra_data.merchandise %}
                            - {{ item.name }} - Mærke: {% if item.stamp_std %}Std{% endif %} {% if item.stamp_yr %}Års{% endif %} - Tshirt: {{ item.tshirt }} ({{ item.price }},-)<br>
                        {% endfor %}
                    </li>
                    <li>Pris: {{ registration.get_extra_data.price }},-</li>
                </ul>
            </td>
            <td>{{ registration.created }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
