{% load i18n %}
{% load league_utils %}

<section class="widget seasonal-object">
    <header>
        <h3 class="title">Seasonpatrulje for: {{ season }}</h3>
    </header>
    {% if seasonal_patrol %}
        {% pprint_object seasonal_patrol %}
    {% else %}
        <p>Denne patrulje har endnu ikke oprettet en sæsonpatrulje for denne sæson!</p>
    {% endif %}
</section>