{% load django_tables2 %}
<section id="user-seasonal-patrols" class="content-section clearfix">
    <header>
        <h3>Patruljemedlemmer {% if season %}<span class="hint">({{ season }})</span>{% endif %}</h3>
    </header>
    {% if member_table %}
    {% render_table member_table %}
    {% else %}
    <div class="alert">Ingen patruljer er defineret for denne sæson!</div>
    {% endif %}
</section>