{% load django_tables2 %}
<section id="user-seasonal-patrols" class="content-section clearfix">
    <header>
        <h3>Patruljemedlemmer</h3>
    </header>
    {% if action_needed %}
    <div class="alert">{{ action_needed }}</div>
    {% else %}
    <p>Patruljemedlemmer tilknyttet til din patrulje. <a href="#">Hvad er et patruljemedlem?</a><br /></p>
    {% render_table member_table %}
    <a class="button" href="{% url 'patrol_member_create' %}">Tilføj patruljemedlem</a>
    {% endif %}
</section>