{% load django_tables2 %}
<section id="user-seasonal-patrols" class="content-section">
    <header>
        <h3>Sæsonpatruljer</h3>
    </header>
    {% if action_needed %}
    <div class="alert">{{ action_needed }}</div>
    {% else %}
    <p>Sæsonpatruljer tilknyttet til din patrulje. <a href="#">Hvad er sæsonpatruljer?</a></p>
    {% render_table seasonalpatrol_table %}
    {% endif %}
</section>