{% load league_utils %}
<section id="user-patrol" class="content-section clearfix">
{% if patrol %}
	<header>
		<h3>{{ patrol.name }} <span class="hint">(<a href="#">profilside</a>)</span></h3>
	</header>
	{% pprint_object patrol %}
	<a href="{% url 'patrol_edit' patrol.pk %}" class="button">Redigér patrulje</a>
{% else %}
	<div class="alert">Du har endnu ikke oprettet en patrulje!</div>
	<a href="{% url 'patrol_create' %}" class="button red">Opret en ny patrulje</a>
{% endif %}
</section>