//
// Base styles
// --------------------------------------------------


// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "utils/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "utils/mixins.less";

// BACKGROUNDS
// ------------------

body {
  background-color: @midGrey;
  background-image: url('@{staticDir}/img/img-curves.png');
  background-repeat: no-repeat;
  background-position: 50% -200px;
  margin: 0 0 250px 0;
}

// ROUNDED BOXES
// ------------------

.large-rounded-box {
  .border-radius(7px);
  background: @darkGrey;
  padding: 16px 0;
}