// Based on twitter bootstrap http://twitter.github.com/bootstrap/

//
// Layouts
// --------------------------------------------------


// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "utils/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "utils/mixins.less";


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

#header {
	min-height: 160px;
}