@import "utils/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "utils/mixins.less";

// Header items
.site-logo {
  padding: 46px 0 0 20px;
}

.site-login {
  width: 15em;
  height: 39px;
  float: right;

  .inner {
    position: relative;
    z-index: 10;
    background: @darkGrey;
    .border-bottom-radius(5px);
  }
  .caption {
    padding: .75em 1em;
    i {
      float: right;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      padding: .75em 1em;
      a {
        text-decoration: none;
        //font-weight: @strongFontWeight;
      }
    }
  }
}

.site-menu {
  float: right;
  clear: right;
  margin-top: 35px;

  ul {
    list-style-type: none;
    li {
      float: left;
      margin: 0 0 0 1em;
      a {
        font-family: @displayFont; 
        font-size: 1.15em;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;

        border-bottom: 2px solid @lineGrey;

        &.current, &:hover {
          border-color: @red;
        }
      }
    }
  }
}

.content-section {
  margin: 1.25em 0 1.5em;
}

// Thumb items
.thumb {
  margin-bottom: 2em;
  .image {
      margin-bottom: 1em;
      img {
        display: block;
      }
  }
  .meta {
    border-top: 1px solid @lineGrey;
    padding: .5em 0;
  }
  .description {
    margin-bottom: 1.5em;
  }
}

// Meta field listing
.meta {
  margin-bottom: 1.5em;
  .field {
    line-height: 1.6em;
    .label {
      display: inline-block;
      vertical-align: top;
      width: 8em;
    }
    .value {
      display: inline-block;
      max-width: 12em;
      color: @white;
    }
  }
}

#cover {
  margin: -16px 0 16px 0;
  overflow: hidden;
  .border-top-radius(5px);
}

// Cover images
.cover-image {
}