@import "utils/variables.less";
@import "utils/mixins.less";

table {
  .border-radius(5px);
  width: 100%;
  border-collapse: collapse;
  background: @warmGrey;
  margin: 0 0 1.5em 0;

  tr:hover td {
    background: @darkGrey;
  }
  td, th {
    border-top: 2px solid @darkGrey;
    padding: 5px 8px;
    text-align: left;
  }
  th {
    padding: 10px 8px;
    font-weight: @strongFontWeight;
  }

  // Detail rows
  tr.detail-row {
    td {
      border-top: 0;
    }
  }

  // Detail table
  &.detail-table {
    background: 0;
    margin: 1em 0;
    
    td, th {
      border: 0;
      padding: 0 0 .5em;
    }

    thead {
      th {
        border-bottom: 1px solid @lineGrey;
        padding-bottom: .5em;
      }
    }
    tr:first-child {
      td {
        padding-top: .5em;
      }
    }
    tr.total {
      td {
        border-top: 1px solid @lineGrey;
        padding-top: .5em;
      }
    }
  }

  .align-right {
    text-align: right;
  }
}

// Points 
.point-table {
  th {text-align: center}
  .ranking td {text-align: right}
  td.c  {text-align: center}
  td.l  {text-align: left}
  th.b  {vertical-align: bottom}
  td.nf {
    background: @red;
    color: @black;
    font-weight: normal;
  }
  td {
    border-left: 1px solid #1a1a1a;
    &:first-child {
      border-left: none;
    }
  }
}