@import "utils/variables.less";
@import "utils/mixins.less";

.filter-widget {
  border: 1px solid @lineGrey;
  border-style: solid none;
  padding: 1em 0 0;
  margin: 0 0 1.5em;
}

.widget {
  .border-radius(5px);
  background: @warmGrey;
  padding: 1em 1em 1px;
  margin: 0 0 1em 0;

  header {
    h3 {
      font-family: @bodyFont;
      color: @white;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
  .alert {
	  background: #1A1A1A;
  }
}