{% load i18n %}
<section class="widget seasonal-object">
    <header>
        <h4>Seasonal registration for this {{ seasonal_patrol.meta.verbose_name }}</h4>
    </header>
    {% if seasonal_patrol %}
        <div class="field">
            <span class="label grey">LigaID:</span>
            <span class="value">{{ seasonal_patrol.get_league_id }}</span>
        </div>

        <!--  Competition classes -->
        {% for obj in seasonal_patrol.get_competition_classes_sorted %}
        <div class="field">
            <span class="label grey">{% trans obj.category.1 %}: </span>
            <span class="value">
                {% for item in obj.list %}{% if not forloop.first %}, {% endif %}
                {{ item.name }}{% empty %}
                {% trans 'None' %}
                {% endfor %}
            </span>
        </div>
        {% endfor %}

    {% else %}
        {% trans 'None' %}
    {% endif %}
</section>