{% extends 'site/base.html' %}

{% block 'main-content' %}

    <div id="grid-test" class="span-12">
        <h1 class="page-title">
            Tables - responsive test
        </h1>
        <p>
            Man kan fremad se, at de har været udset til at læse, at der skal dannes par af ligheder. Dermed kan der afsluttes uden løse ender, og de kan optimeres fra oven af at formidles stort uden brug fra presse. I en kant af landet går der blandt om, at de vil sætte den over forbehold for tiden. Vi flotter med et hold, der vil rundt og se sig om i byen. Det gør heller ikke mere. Men hvor vi nu overbringer denne størrelse til det den handler om, så kan der fortælles op til 3 gange. Hvis det er træet til dit bord der får dig op, er det snarere varmen over de andre.
        </p>

        <h2>
            Patruljeoversigt<span title="Dette er en lille test" class="tool-tip"><span class="icon help">hjælp</icon></span>
        </h2>

        <table border="0" cellspacing="0">
            <thead>
                <tr>
                    <th>LigaID</th>
                    <th width="45%">Patruljenavn</th>
                    <th class="align-right">Aldersklasse</th>
                    <th class="align-right">Konkurrenceklasse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="monospaced">02SM012</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right">17+ - Seniorspejder</td>
                    <td class="align-right">Mix / drenge</td>
                </tr>
                <tr>
                    <td><span class="monospaced">02SM012</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right">17+ - Seniorspejder</td>
                    <td class="align-right">Mix / drenge</td>
                </tr>
                <tr>
                    <td><span class="monospaced">02SM012</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right">17+ - Seniorspejder</td>
                    <td class="align-right">Mix / drenge</td>
                </tr>
                <tr>
                    <td><span class="monospaced">02SM012</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right">17+ - Seniorspejder</td>
                    <td class="align-right">Mix / drenge</td>
                </tr>
                <tr>
                    <td><span class="monospaced">02SM012</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right">17+ - Seniorspejder</td>
                    <td class="align-right">Mix / drenge</td>
                </tr>

            </tbody>
        </table>

        <h2>Pointoversigt 2 sæson 2012 / 2013</h2>

        <table border="0" cellspacing="0">
            <thead>
                <tr>
                    <th width="16">Plac.</th>
                    <th width="45%">Patruljenavn</th>
                    <th class="align-right">Besøgspoint</th>
                    <th class="align-right">Plac. point</th>
                    <th class="align-right">Total point</th>
                    <th width="60"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="monospaced">1</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right"><span class="monospaced">110</span></td>
                    <td class="align-right"><span class="monospaced">300</span></td>
                    <td class="align-right"><span class="monospaced">410</span></td>
                    <td><a href="#">se detaljer</a></td>
                </tr>    

                    <!-- Expandable -->
                <tr class="detail-row expanded">
                    <td></td>
                    <td colspan="4">

                        <table class="detail-table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="50%">Løb</th>
                                    <th class="align-right">Plac.</th>
                                    <th class="align-right">Besøgspoint</th>
                                    <th class="align-right">Plac. point</th>
                                    <th class="align-right">Total point</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Solaris</a></td>
                                    <td class="align-right"><span class="monospaced">2</span></td>
                                    <td class="align-right"><span class="monospaced">10</span></td>
                                    <td class="align-right"><span class="monospaced">8</span></td>
                                    <td class="align-right"><span class="monospaced">18</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Nathejk</a></td>
                                    <td class="align-right"><span class="monospaced">2</span></td>
                                    <td class="align-right"><span class="monospaced">10</span></td>
                                    <td class="align-right"><span class="monospaced">8</span></td>
                                    <td class="align-right"><span class="monospaced">18</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Apokalypse</a></td>
                                    <td class="align-right"><span class="monospaced">2</span></td>
                                    <td class="align-right"><span class="monospaced">10</span></td>
                                    <td class="align-right"><span class="monospaced">8</span></td>
                                    <td class="align-right"><span class="monospaced">18</span></td>
                                </tr>
                                <tr class="total">
                                    <td>Samlet</td>
                                    <td class="align-right"><span class="monospaced">1</span></td>
                                    <td class="align-right"><span class="monospaced">310</span></td>
                                    <td class="align-right"><span class="monospaced">300</span></td>
                                    <td class="align-right"><span class="monospaced">410</span></td>
                                </tr>                                
                            </tbody>
                        </table>

                    </td>
                    <td></td>
                </tr>
                
                <tr>
                    <td><span class="monospaced">1</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right"><span class="monospaced">110</span></td>
                    <td class="align-right"><span class="monospaced">300</span></td>
                    <td class="align-right"><span class="monospaced">410</span></td>
                    <td><a href="#">se detaljer</a></td>
                </tr>
                <tr>
                    <td><span class="monospaced">1</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right"><span class="monospaced">110</span></td>
                    <td class="align-right"><span class="monospaced">300</span></td>
                    <td class="align-right"><span class="monospaced">410</span></td>
                    <td><a href="#">se detaljer</a></td>
                </tr>
                <tr>
                    <td><span class="monospaced">1</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right"><span class="monospaced">110</span></td>
                    <td class="align-right"><span class="monospaced">300</span></td>
                    <td class="align-right"><span class="monospaced">410</span></td>
                    <td><a href="#">se detaljer</a></td>
                </tr>
                <tr>
                    <td><span class="monospaced">1</span></td>
                    <td><a href="#">Clan Awesome</a></td>
                    <td class="align-right"><span class="monospaced">110</span></td>
                    <td class="align-right"><span class="monospaced">300</span></td>
                    <td class="align-right"><span class="monospaced">410</span></td>
                    <td><a href="#">se detaljer</a></td>
                </tr>
            </tbody>
        </table>        
        
    </div>

{% endblock %}