{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}Ændr adgangskode{% endblock %}

{# Header #}
{% block page_title %}Ændr adgangskode{% endblock %}

{# Content #}
{% block page_content %}

<p>Har du glemt din adgangskode? Indtast din e-mail-adresse herunder, så sender vi dig en instruktion vedrørende ny adgangskode.</p>

<div class="form">
  <form id="account-create-form" class="form-horizontal" action="" method="post">{% csrf_token %}
  
  {% if form.non_field_errors %}
  <div class="errors">{{ form.non_field_errors }}</div>
  {% endif %}

  <fieldset class="box">
    {% include 'site/forms/div_fields.html' with form=form %}
  </fieldset>

  <div class="actions">
    <input class="red button" type="submit" value="Send mail" />
  </div>
  </form>  
</div>

{% endblock %}