{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}Ændr adgangskode{% endblock %}

{# Header #}
{% block page_title %}Indtast ny adgangskode{% endblock %}

{# Content #}
{% block page_content %}

<p>Din adgangskode er blevet ændret!</p>
<p><a class="red button" href="{% url 'auth_login' %}">Login</a></p>

{% endblock %}