{% extends 'site/page_std.html' %}
{% load i18n %}
{% load markup_tags %}
{% load thumbnail %}
{% load content_tags %}

{% block title %}{# Site title #}{% endblock %}

{# Header #}
{% block page_title %}{{ page.title }}{% endblock %}

{# Cover image #}
{% block cover %}
    <div class="image cover-image">
        {# cover_image page False #}
    </div>
{% endblock %}

{# Content #}
{% block page_content %}
    {{ page.content|apply_markup:"markdown" }}
{% endblock %}

{# Aside #}
{% block page_aside %}
    {% if page.aside_content %}
    <div class="widget">
        {{ page.aside_content|apply_markup:"markdown" }}
    </div>
    {% endif %}
{% endblock %}
