{# This is a template - delete this comment! #}
{% extends 'site/page_single_col.html' %}
{% load i18n %}
{% load markup_tags %}
{% load thumbnail %}
{% load content_tags %}

{% block title %}{# Site title #}{% endblock %}

{# Header #}
{% block page_title %}{{ page.title }}{% endblock %}

{# Cover image #}
{% block cover %}
    <div class="image cover-image">
        {# cover_image page False #}
    </div>
{% endblock %}

{# Content #}
{% block page_content %}
    <div class="point-table">
    	{{ page.content|apply_markup:"markdown" }}
	</div>
{% endblock %}
