@import "../variables.less";
@import "../mixins.less";

// MAIN
// --------------------------------------------------

body {
  background-color: @midGrey;
  background-image: url('@{staticDir}/img/img-curves.png');
  background-repeat: no-repeat;
  background-position: 50% -200px;
  margin: 0 0 75px 0;
}

#header {
  min-height: 160px;
}

footer {
  padding: 3em 0 0;

  .logos {
    text-align: right;
    img {
      margin-left: 1em;
    }
  }
}

ul.footer-menu {
  padding: 0;
  li {
    list-style-type: none;
    a {
      color: @textWhite;
    }
  }
}

// ROUNDED BOXES
// --------------------------------------------------

.large-rounded-box {
  .border-radius(7px);
  background: @darkGrey;
  padding: 16px 0;
}

// Header items
.site-logo {
  padding: 46px 0 0 20px;
}

.site-login {
  width: 15em;
  height: 39px;
  float: right;

  .inner {
    position: relative;
    z-index: 10;
    background: @darkGrey;
    .border-bottom-radius(5px);
  }
  .caption {
    padding: .75em 1em;
    i {
      float: right;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      padding: .75em 1em;
      a {
        text-decoration: none;
        //font-weight: @strongFontWeight;
      }
    }
  }
}

.site-menu {
  float: right;
  clear: right;
  margin-top: 35px;

  ul {
    list-style-type: none;
    li {
      float: left;
      margin: 0 0 0 1em;
      a {
        font-family: @displayFont;
        font-size: 1.15em;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;

        border-bottom: 2px solid @lineGrey;

        &.current, &:hover {
          border-color: @red;
        }
      }
    }
  }
}

.content-section {
  //margin: 1.25em 0 1.5em;
}

// Thumb items
.thumb {
  margin-bottom: 2em;
  .image {
      margin-bottom: 1em;
      img {
        display: block;
      }
  }
  .meta {
    border-top: 1px solid @lineGrey;
    padding: .5em 0;
  }
  .description {
    margin-bottom: 1.5em;
  }
}

#cover {
  margin: -16px 0 16px 0;
  overflow: hidden;
  .border-top-radius(5px);
}

// Cover images
.cover-image {
}

// WIDGETS
// --------------------------------------------------

.widget {
  .border-radius(5px);
  background: @warmGrey;
  padding: 0 1em 1px;
  margin: 0 0 1em 0;
  .alert {
	  background: #1A1A1A;
  }
}

.seasonal-widget {
  header {
    h3 {
      margin-bottom: 0;
    }
    .season-select {
      margin-bottom: 1em;
    }
  }
}

.filter-widget {
  border: 1px solid @lineGrey;
  border-style: solid none;
  padding: 1em 0 .75em;
  margin: 0 0 1.5em;
}

// META LISTING
// --------------------------------------------------

.meta {
  margin-bottom: 1em;
  .field {
    line-height: 1.6em;
    .label {
      display: inline-block;
      vertical-align: top;
      width: 10em;
      background: none;
      padding: 0;
      border: 0;
      font-size: .9em;
      line-height: 1.75em;
      font-weight: normal;
    }
    .value {
      display: inline-block;
      max-width: 12em;
      color: @white;
    }
  }
}

// NAV TABS
// --------------------------------------------------

.nav-tabs {
  padding: 0;
  border-bottom-color: @lineGrey;

  li {
    a {
      padding-top: 6px;
      padding-bottom: 6px;
      margin-right: 4px;
      font-family: @displayFont;
      font-size: 1.1em;
      color: @lightGrey;
    }
    &.active a, &.active:hover a {
      background-color: transparent !important;
      border-color: @lineGrey !important;
      border-bottom-color: @darkGrey !important;
      color: @white !important;
    }
    &:hover a {
      background-color: @midGrey;
      border-color: transparent transparent @lineGrey;
    }
  }
}

// ALERTS
// --------------------------------------------------

.alert {
  background-color: @warmGrey;
  border-color: transparent;
  color: @white;
  text-shadow: none;
}
