@import "../variables.less";
@import "../mixins.less";

[class*="button"] {
    .border-radius(3px);
    display: block;
    float: left;
    background: @buttonGrey;
    padding: .35em 1em;
    text-decoration: none;

    &.red {
        background: @red;
        &:hover {
            background: @red + #1A1A1A;
        }
    }
    &:hover {
        background: @buttonGrey + #111;
        text-decoration: none !important;
    }

    .transition(background-color 100ms ease-out);
}
.button-small {
    display: inline-block;
    float: none;
    padding: .1em .5em;
    min-width: 4em;
    text-align: center;
}

input.button {
    font-family: @bodyFont;
    font-weight: @baseFontWeight;
    font-size: 1em;
    border: 0;
    color: @brokenWhite;
}
