@import "../variables.less";
@import "../mixins.less";


// Generic form fields
fieldset.box {
  .border-radius(5px);
  border: none;
  background: @warmGrey;
  padding: 1.5em 0 .5em;
  margin: .5em 0 1.5em;
}

input, select {
  width: 245px;
}

input[type="checkbox"] {
  margin: 0;
}

textarea {
  width: 505px;
}

// Form parts
form {
  .actions {
    margin-bottom: 1.5em;
    a.cancel {
      text-decoration: none;
      line-height: 28px;
      padding: 0 1em;
      color: @lightGrey;
      &:hover {
        color: @white;
      }
    }
  }
  .description {
    max-width: 27em;
    padding-top: .5em;
    font-size: 0.9em;
    color: @lightGrey;
  }  

  // Errorlists
  .errors {
    width: 15em;
    float: right;
  }
  .errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: @red;
  }
}


// Horizontal forms & inline forms
.form-horizontal {
  label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
  }
  .controls, .actions {
    margin-left: 180px;
  }
  .field {
    clear: both;
    margin: 0 0 1em;
    
    // Checkbox and radio lists
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        label {
          float: none;
          text-align: left;
          input {
            vertical-align: top;
            margin: 3px 6px 0 0;
          }
        }
      }
    }
  }
}

.form-inline {
  input {
    width: 100%;
    height: 30px;
    .box-sizing(border-box);
    font-size: .9em;
  }
  select {
    width: 100%;
  }
}


// Form field wrappers
.text-field, .password-field, .date-field {
    
}


// Datepicker override
.datepicker_dashboard {
  table {
    border: 0;
    background: transparent;
    td {
      border-top: 0;
    }
  }
  input.hour, input.minutes {
    height: 40px;
  }   
  input.ok {
    .border-radius(3px);
    border: 0;
    background: #2A2A2A;
    color: @white;
  }
}


// List display
.list-display {
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style-type: none;
      label {
        position: relative;
        margin: .35em 0;
        input {
          display: inline-block;
          width: 21px;
          height: 18px;
          visibility: hidden; 
        }
        .icon {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 21px;
          height: 18px;
          background: url('@{staticDir}/img/sprite-list-display.png') no-repeat 0 0;  
        }
        &.table {
          margin-right: 1em;
        }
        &.table .icon {
          background-position: -21px 0;
        }
        &.table.active .icon, &.table:hover .icon {
          background-position: -21px -18px;
        }
        &.thumbs.active .icon, &.thumbs:hover .icon {
          background-position: 0 -18px;
        }        
      }
    }
  }
}

// Reset
.reset-action {
  a {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin: 26px 0 0;
    background: url('@{staticDir}/img/icon-close.png') no-repeat 0 0;
    span {
      display: none;
    }
  }
}


/*

// Input fields
.input-field-mixin() {
  padding: 0 0 1em;
  input[type='text'], input[type='password'], textarea {
    .border-radius(3px);
    .box-sizing(border-box);
    width: 20em;
    background: #CCC;
    border: none;
    padding: 5px 10px;
  }
  input:focus, textarea:focus {
    outline: none;
    background: #FFF;
  }
}

input[type="checkbox"] {
  margin: 0;
}

input[type="text"] {
  //font-size: 1.5em;
  height: 2em;
  font-size: 1.2em;
  line-height: 1.2em;
}

// Form elements
// --------------------
.select-field {
  padding: 0 0 1em;
  select {
    .border-radius(0);
    margin: .35em 0;
    padding: 0;
    height: 1.5em;
    border: 0;
    font-size: 1em;
    color: @black;
  }
}

section.form {
  margin-bottom: 1em;
}

form {

  // Form horizontal
  &.form-horizontal {
    label {
      float: left;
      width: 160px;
      padding-top: 5px;
      text-align: right;
    }
    .controls, .actions {
      margin-left: 180px;
    }
    .field {
      clear: left;
      margin: 0 0 .5em;
    }
  }

  // Fonts
  select, input, textarea {
    font-family: @bodyFont;
    font-size: 1.2em;
  }
  
  // Text-like fields
  .text-field, .password-field, .date-field {
    //.input-field-mixin();
  }

  // Textarea fields
  .textarea-field {
    .input-field-mixin();
  }

  // Select fields
  .select-field {
    padding: 0 0 1em;
    select {
      .border-radius(0);
      margin: .35em 0;
      padding: 0;
      height: 1.5em;
      border: 0;
      font-size: 1em;
      color: @black;
    }
  }  

  // Radio, checkbox fields
  .radio-field, .checkbox-field {
    .controls ul {
      list-style-type: none;
      margin: 0 0 1.5em;
      padding: 0;
      li label {
        float: none;
        text-align: left;
        width: 100%;
      }
    }
  }

  label {
    display: block;
    margin: 0 0 .5em;
    font-weight: @baseFontWeight;
  }

  .description {
    max-width: 27em;
    padding-top: .5em;
    font-size: 0.9em;
    color: @lightGrey;
  }

  .help {
    padding: 0 .25em;
    font-size: 0.9em;
    color: @lightGrey;    
  }

  // Fieldset 'box'
  fieldset.box {
    .border-radius(5px);
    border: none;
    background: @warmGrey;
    padding: 1.5em 0 .5em;
    margin: .5em 0 1.5em;
  }

  .actions {
    margin-bottom: 1.5em;

    a.cancel {
      text-decoration: none;
      line-height: 28px;
      padding: 0 1em;
      color: @lightGrey;
      &:hover {
        color: @white;
      }
    }
  }

  // Errorlists
  .errors {
    width: 15em;
    float: right;
  }
  .errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: @red;
  }

  // Radio fields
  .radio-field {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &.radio-horizontal {
      ul {
        li {
          display: inline-block;
        }
      }
    }
  }

  // Search fields
  .search-field {
    padding: 3px 0;

    input[type='search'] {
      .border-radius(3px);
      .box-sizing(border-box);
      width: 100%;
      background: @brokenWhite;
      border: none;
      padding: 5px 10px;
    }
  }

  // Table formsets
  .form-inline {
    input {
      .border-radius(3px);
      .box-sizing(border-box);
      width: 100%;
      background: @brokenWhite;
      border: none;
      padding: 5px 10px;
    }
  }

  // List displays
  .list-display {
    ul li {
      label {
        position: relative;
        margin: .35em 0;
        input {
          display: inline-block;
          width: 21px;
          height: 18px;
          visibility: hidden; 
        }
        .icon {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 21px;
          height: 18px;
          background: url('@{staticDir}/img/sprite-list-display.png') no-repeat 0 0;  
        }
        &.table {
          margin-right: 1em;
        }
        &.table .icon {
          background-position: -21px 0;
        }
        &.table.active .icon, &.table:hover .icon {
          background-position: -21px -18px;
        }
        &.thumbs.active .icon, &.thumbs:hover .icon {
          background-position: 0 -18px;
        }        
      }
    }
  }

  // Reset
  .reset-action {
    a {
      display: block;
      float: right;
      width: 20px;
      height: 20px;
      margin: 26px 0 0;
      background: url('@{staticDir}/img/icon-close.png') no-repeat 0 0;
      span {
        display: none;
      }
    }
  }
}

*/