@import "../variables.less";
@import "../mixins.less";

body {
  font-family: @bodyFont;
  font-size: @baseFontSize;
  font-weight: @baseFontWeight;
  color: @textWhite;
}

p, td {
  line-height: @baseLineHeight;
}
p {
  margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @displayFont;
  font-weight: @displayFontWeight;
  margin: 0 0 .5em 0;
  color: @brokenWhite;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.1em;
  margin-bottom: .5em;
}

.sub-header {
  font-family: @displayFont;
  font-weight: @baseFontWeight;
  font-size: 1.3em;
}

a {
  color: @brokenWhite;
  &:hover {
    color: @brokenWhite;
    text-decoration: underline;
  }
}

strong {
	font-weight: 500;
	color: @white;
}

hr {
  border: 1px solid @lineGrey;
  border-style: solid none none;
  margin: 1em 0;

  &.light {
    border-color: @lineGrey + #1A1A1A;
  }
}

ul {
  padding: 0 0 0 1.5em;
  margin: 0 0 1.5em;
}

.hint {
  font-size: 14px;
  color: @lightGrey;
  a {
    color: @lightGrey;
  }
}

.monospaced {
	font-family: @monoFont;
	font-size: .9em;
}

.grey {
  color: @lightGrey;
}

.red-clr {
  color: @red;
}