<div class="site-menu">
  <ul>
    <li><a href="/patrol/list">Patruljer</a></li>
    <li><a href="/race/list">Løbstilmelding</a></li>
    <li><a href="http://spejder.dk/adventure/oversigt-over-adventurespejdloeb" target="_BLANK">L&oslash;bsoversigt</a></li>
    <li><a href="/point">Pointoversigt</a></li>
    <li><a href="/regler">Regler</a></li>
    <li><a href="/om-ligaen">Om ligaen</a></li>
    <li><a href="/faq">FAQ</a></li>    
  </ul>
</div>
