{% extends 'site/page_std.html' %}
{% load webdesign %}
{% load patrol_tags %}


{% block title %}{{ object.name }}{% endblock %}

{# Header #}
{% block page_title %}{{ object.name }}{% endblock %}

{% block page_content %}
    <section id="patrol">
        <div class="description">
            {% lorem 50 w %}
        </div>
    </section>
    <hr />
    {% patrol_members object CURRENT_SEASON %}
{% endblock %}

{% block page_aside %}
    {% patrol_current_seasonal object %}
{% endblock %}