{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}Aktivering fuldført{% endblock %}

{# Header #}
{% block page_title %}Aktivering mislykkes{% endblock %}

{# Content #}
{% block page_content %}

<p>Aktiveringen af din brugerprofil med adressen:</p>

<div class="alert">
	{{ SITE_URL }}{% url 'accounts_activate' activation_token %}
</div>

<p>mislykkes desværre.</p>

<p>Tjek at du har indsat adressen korrekt. Eller prøv at registrere en ny bruger.<br />
Det er også muligt at din brugerprofil allerede er aktiveret, og at du blot skal logge ind.</p> 

<a href="{% url 'auth_login' %}" class="red button">Login</a>

{% endblock %}