{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}Aktivering fuldført{% endblock %}

{# Header #}
{% block page_title %}Aktivering fuldført{% endblock %}

{# Content #}
{% block page_content %}

<p>Din profil på adventurespejd liga er nu aktiveret</p>
<a href="{% url 'auth_login' %}" class="red button">Login</a>

{% endblock %}