{% extends 'site/base.html' %}
{% load i18n %}
{% load league_utils %}
{% load django_tables2 %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block main %}

{# Main content #}
<div id="main-content" class="span12">
  
  <header>
    <h1 class="title">
      {% block page_title %}{{ profile.full_name }} <span class="hint">(dashboard)</span>{% endblock %}
    </h1>    
  </header>

  {# Content #}
  {% block page_content %}
    {% build_tabs tabs user request %}
  {% endblock %}
</div>

{% endblock %}
