{% extends 'site/page_std.html' %}
{% load i18n %}
{% load league_form_helpers %}

{% block title %}{% trans "Login" %}{% endblock %}

{# Header #}
{% block page_title %}Log ind{% endblock %}

{# Content #}
{% block page_content %}

<p>Log ind med den emailadresse, som du oprettede din bruger med. Har du glemt hvilken emailadresse du brugte, kan du sende en mail til support@adventurespejd.dk med dit ligaID.</p>

<p><a href="{% url 'auth_password_reset' %}">Bestil ny adgangskode</a></p>

<div class="form">
    <form id="auth-login" class="form-horizontal" action="" method="post">{% csrf_token %}
    {% form_general_errors form %}
    <fieldset id="user-creds" class="box">
        {% include 'site/forms/div_fields.html' with form=form %}
    </fieldset>
    <div class="actions">
    	<input class="red button" type="submit" value="Log ind" />
	</div>
    </form>
</div>  

{% endblock %}

{# Aside #}
{% block page_aside %}

<div class="widget clearfix">
	<h3>Opret ny bruger</h3>
	<hr />
	<p>Opret en ny bruger, for at tilmelde din patrulje til ligaen.</p>
	<p><a class="red button" href="{% url 'accounts_signup' %}">Opret ny bruger</a><br /><br /></p>
</div>

{% endblock %}