{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}Opret profil{% endblock %}

{# Header #}
{% block page_title %}Opret profil{% endblock %}

{# Content #}
{% block page_content %}

<p>Opret en profil på adventurespejd liga<br />

<div class="form">
    <form id="auth-login" class="form-horizontal" action="" method="post">{% csrf_token %}
    <fieldset id="user" class="box">
    {% include 'site/forms/div_fields.html' with form=user_form %}
    </fieldset>

    <div class="help-text">
        <h3>Profil oplysninger</h3>
        <p>Indtast venligst profiloplysninger nedenfor. Disse data vil udelukkende blive brugt internt i adventurespejd ligaen. Disse data vil kunne blive overført til et løb, der er medlem af ligaen, ifm. en tilmelding til samme løb. Du vil dog blive gjort opmærksom på en sådan dataoverførelse!</p>
    </div>

    <fieldset id="profile" class="box">
    {% include 'site/forms/div_fields.html' with form=profile_form %}
    <div class="actions">
        <input class="red button" type="submit" value="Opret bruger" />
    </div>
    </fieldset>
    </form>
</div>  

{% endblock %}