.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin-left: -30px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 30px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 930px;
}
.outer-container {
  width: 960px;
  margin: 0 auto;
}
.span12 {
  width: 930px;
}
.span11 {
  width: 850px;
}
.span10 {
  width: 770px;
}
.span9 {
  width: 690px;
}
.span8 {
  width: 610px;
}
.span7 {
  width: 530px;
}
.span6 {
  width: 450px;
}
.span5 {
  width: 370px;
}
.span4 {
  width: 290px;
}
.span3 {
  width: 210px;
}
.span2 {
  width: 130px;
}
.span1 {
  width: 50px;
}
.offset12 {
  margin-left: 990px;
}
.offset11 {
  margin-left: 910px;
}
.offset10 {
  margin-left: 830px;
}
.offset9 {
  margin-left: 750px;
}
.offset8 {
  margin-left: 670px;
}
.offset7 {
  margin-left: 590px;
}
.offset6 {
  margin-left: 510px;
}
.offset5 {
  margin-left: 430px;
}
.offset4 {
  margin-left: 350px;
}
.offset3 {
  margin-left: 270px;
}
.offset2 {
  margin-left: 190px;
}
.offset1 {
  margin-left: 110px;
}
@-ms-viewport {
  width: device-width;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -34px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 34px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1142px;
  }
  .outer-container {
    width: 1176px;
    margin: 0 auto;
  }
  .span12 {
    width: 1142px;
  }
  .span11 {
    width: 1044px;
  }
  .span10 {
    width: 946px;
  }
  .span9 {
    width: 848px;
  }
  .span8 {
    width: 750px;
  }
  .span7 {
    width: 652px;
  }
  .span6 {
    width: 554px;
  }
  .span5 {
    width: 456px;
  }
  .span4 {
    width: 358px;
  }
  .span3 {
    width: 260px;
  }
  .span2 {
    width: 162px;
  }
  .span1 {
    width: 64px;
  }
  .offset12 {
    margin-left: 1210px;
  }
  .offset11 {
    margin-left: 1112px;
  }
  .offset10 {
    margin-left: 1014px;
  }
  .offset9 {
    margin-left: 916px;
  }
  .offset8 {
    margin-left: 818px;
  }
  .offset7 {
    margin-left: 720px;
  }
  .offset6 {
    margin-left: 622px;
  }
  .offset5 {
    margin-left: 524px;
  }
  .offset4 {
    margin-left: 426px;
  }
  .offset3 {
    margin-left: 328px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 132px;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 34px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 1128px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 1030px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 932px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 834px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 736px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 638px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 540px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 442px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 344px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 246px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 148px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 50px;
  }
  .thumbnails {
    margin-left: -34px;
  }
  .thumbnails > li {
    margin-left: 34px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -26px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 26px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 694px;
  }
  .outer-container {
    width: 720px;
    margin: 0 auto;
  }
  .span12 {
    width: 694px;
  }
  .span11 {
    width: 634px;
  }
  .span10 {
    width: 574px;
  }
  .span9 {
    width: 514px;
  }
  .span8 {
    width: 454px;
  }
  .span7 {
    width: 394px;
  }
  .span6 {
    width: 334px;
  }
  .span5 {
    width: 274px;
  }
  .span4 {
    width: 214px;
  }
  .span3 {
    width: 154px;
  }
  .span2 {
    width: 94px;
  }
  .span1 {
    width: 34px;
  }
  .offset12 {
    margin-left: 746px;
  }
  .offset11 {
    margin-left: 686px;
  }
  .offset10 {
    margin-left: 626px;
  }
  .offset9 {
    margin-left: 566px;
  }
  .offset8 {
    margin-left: 506px;
  }
  .offset7 {
    margin-left: 446px;
  }
  .offset6 {
    margin-left: 386px;
  }
  .offset5 {
    margin-left: 326px;
  }
  .offset4 {
    margin-left: 266px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 146px;
  }
  .offset1 {
    margin-left: 86px;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 26px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 680px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 620px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 560px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 500px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 440px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 380px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 320px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 260px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 200px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 140px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 80px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 20px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}

