.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #262626;
  background-image: url('/static/site//img/img-curves.png');
  background-repeat: no-repeat;
  background-position: 50% -200px;
  margin: 0 0 75px 0;
}
#header {
  min-height: 160px;
}
footer {
  padding: 3em 0 0;
}
footer .logos {
  text-align: right;
}
footer .logos img {
  margin-left: 1em;
}
ul.footer-menu {
  padding: 0;
}
ul.footer-menu li {
  list-style-type: none;
}
ul.footer-menu li a {
  color: #AAA;
}
.large-rounded-box {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #1A1A1A;
  padding: 16px 0;
}
.site-logo {
  padding: 46px 0 0 20px;
}
.site-login {
  width: 15em;
  height: 39px;
  float: right;
}
.site-login .inner {
  position: relative;
  z-index: 10;
  background: #1A1A1A;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.site-login .caption {
  padding: 0.75em 1em;
}
.site-login .caption i {
  float: right;
}
.site-login ul {
  padding: 0;
  margin: 0;
}
.site-login ul li {
  list-style-type: none;
  padding: 0.75em 1em;
}
.site-login ul li a {
  text-decoration: none;
}
.site-menu {
  float: right;
  clear: right;
  margin-top: 35px;
}
.site-menu ul {
  list-style-type: none;
}
.site-menu ul li {
  float: left;
  margin: 0 0 0 1em;
}
.site-menu ul li a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.15em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid #333;
}
.site-menu ul li a.current,
.site-menu ul li a:hover {
  border-color: #E43229;
}
.thumb {
  margin-bottom: 2em;
}
.thumb .image {
  margin-bottom: 1em;
}
.thumb .image img {
  display: block;
}
.thumb .meta {
  border-top: 1px solid #333;
  padding: 0.5em 0;
}
.thumb .description {
  margin-bottom: 1.5em;
}
#cover {
  margin: -16px 0 16px 0;
  overflow: hidden;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.widget {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #212121;
  padding: 0 1em 1px;
  margin: 0 0 1em 0;
}
.widget .alert {
  background: #1A1A1A;
}
.seasonal-widget header h3 {
  margin-bottom: 0;
}
.seasonal-widget header .season-select {
  margin-bottom: 1em;
}
.filter-widget {
  border: 1px solid #333;
  border-style: solid none;
  padding: 1em 0 0.75em;
  margin: 0 0 1.5em;
}
.meta {
  margin-bottom: 1em;
}
.meta .field {
  line-height: 1.6em;
}
.meta .field .label {
  display: inline-block;
  vertical-align: top;
  width: 10em;
  background: none;
  padding: 0;
  border: 0;
  font-size: 0.9em;
  line-height: 1.75em;
  font-weight: normal;
}
.meta .field .value {
  display: inline-block;
  max-width: 12em;
  color: #FFF;
}
.nav-tabs {
  padding: 0;
  border-bottom-color: #333;
}
.nav-tabs li a {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 4px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
  color: #777;
}
.nav-tabs li.active a,
.nav-tabs li.active:hover a {
  background-color: transparent !important;
  border-color: #333 !important;
  border-bottom-color: #1A1A1A !important;
  color: #FFF !important;
}
.nav-tabs li:hover a {
  background-color: #262626;
  border-color: transparent transparent #333;
}
.alert {
  background-color: #212121;
  border-color: transparent;
  color: #FFF;
  text-shadow: none;
}
[class*="button"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  background: #323232;
  padding: 0.35em 1em;
  text-decoration: none;
  -webkit-transition: background-color 100ms ease-out;
  -moz-transition: background-color 100ms ease-out;
  -o-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
}
[class*="button"].red {
  background: #E43229;
}
[class*="button"].red:hover {
  background: #fe4c43;
}
[class*="button"]:hover {
  background: #434343;
  text-decoration: none !important;
}
.button-small {
  display: inline-block;
  float: none;
  padding: 0.1em 0.5em;
  min-width: 4em;
  text-align: center;
}
input.button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1em;
  border: 0;
  color: #E3E3E3;
}
fieldset.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background: #212121;
  padding: 1.5em 0 0.5em;
  margin: 0.5em 0 1.5em;
}
input,
select {
  width: 245px;
}
input[type="checkbox"] {
  margin: 0;
}
textarea {
  width: 505px;
}
form .actions {
  margin-bottom: 1.5em;
}
form .actions a.cancel {
  text-decoration: none;
  line-height: 28px;
  padding: 0 1em;
  color: #777;
}
form .actions a.cancel:hover {
  color: #FFF;
}
form .description {
  max-width: 27em;
  padding-top: 0.5em;
  font-size: 0.9em;
  color: #777;
}
form .errors {
  width: 15em;
  float: right;
}
form .errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #E43229;
}
.form-horizontal label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls,
.form-horizontal .actions {
  margin-left: 180px;
}
.form-horizontal .field {
  clear: both;
  margin: 0 0 1em;
}
.form-horizontal .field ul {
  padding: 0;
  margin: 0;
}
.form-horizontal .field ul li {
  list-style-type: none;
}
.form-horizontal .field ul li label {
  float: none;
  text-align: left;
}
.form-horizontal .field ul li label input {
  vertical-align: top;
  margin: 3px 6px 0 0;
}
.form-inline input {
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
}
.form-inline select {
  width: 100%;
}
.datepicker_dashboard table {
  border: 0;
  background: transparent;
}
.datepicker_dashboard table td {
  border-top: 0;
}
.datepicker_dashboard input.hour,
.datepicker_dashboard input.minutes {
  height: 40px;
}
.datepicker_dashboard input.ok {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  background: #2A2A2A;
  color: #FFF;
}
.list-display ul {
  margin: 0;
  padding: 0;
}
.list-display ul li {
  float: left;
  list-style-type: none;
}
.list-display ul li label {
  position: relative;
  margin: 0.35em 0;
}
.list-display ul li label input {
  display: inline-block;
  width: 21px;
  height: 18px;
  visibility: hidden;
}
.list-display ul li label .icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 18px;
  background: url('/static/site//img/sprite-list-display.png') no-repeat 0 0;
}
.list-display ul li label.table {
  margin-right: 1em;
}
.list-display ul li label.table .icon {
  background-position: -21px 0;
}
.list-display ul li label.table.active .icon,
.list-display ul li label.table:hover .icon {
  background-position: -21px -18px;
}
.list-display ul li label.thumbs.active .icon,
.list-display ul li label.thumbs:hover .icon {
  background-position: 0 -18px;
}
.reset-action a {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin: 26px 0 0;
  background: url('/static/site//img/icon-close.png') no-repeat 0 0;
}
.reset-action a span {
  display: none;
}
/*

// Input fields
.input-field-mixin() {
  padding: 0 0 1em;
  input[type='text'], input[type='password'], textarea {
    .border-radius(3px);
    .box-sizing(border-box);
    width: 20em;
    background: #CCC;
    border: none;
    padding: 5px 10px;
  }
  input:focus, textarea:focus {
    outline: none;
    background: #FFF;
  }
}

input[type="checkbox"] {
  margin: 0;
}

input[type="text"] {
  //font-size: 1.5em;
  height: 2em;
  font-size: 1.2em;
  line-height: 1.2em;
}

// Form elements
// --------------------
.select-field {
  padding: 0 0 1em;
  select {
    .border-radius(0);
    margin: .35em 0;
    padding: 0;
    height: 1.5em;
    border: 0;
    font-size: 1em;
    color: @black;
  }
}

section.form {
  margin-bottom: 1em;
}

form {

  // Form horizontal
  &.form-horizontal {
    label {
      float: left;
      width: 160px;
      padding-top: 5px;
      text-align: right;
    }
    .controls, .actions {
      margin-left: 180px;
    }
    .field {
      clear: left;
      margin: 0 0 .5em;
    }
  }

  // Fonts
  select, input, textarea {
    font-family: @bodyFont;
    font-size: 1.2em;
  }
  
  // Text-like fields
  .text-field, .password-field, .date-field {
    //.input-field-mixin();
  }

  // Textarea fields
  .textarea-field {
    .input-field-mixin();
  }

  // Select fields
  .select-field {
    padding: 0 0 1em;
    select {
      .border-radius(0);
      margin: .35em 0;
      padding: 0;
      height: 1.5em;
      border: 0;
      font-size: 1em;
      color: @black;
    }
  }  

  // Radio, checkbox fields
  .radio-field, .checkbox-field {
    .controls ul {
      list-style-type: none;
      margin: 0 0 1.5em;
      padding: 0;
      li label {
        float: none;
        text-align: left;
        width: 100%;
      }
    }
  }

  label {
    display: block;
    margin: 0 0 .5em;
    font-weight: @baseFontWeight;
  }

  .description {
    max-width: 27em;
    padding-top: .5em;
    font-size: 0.9em;
    color: @lightGrey;
  }

  .help {
    padding: 0 .25em;
    font-size: 0.9em;
    color: @lightGrey;    
  }

  // Fieldset 'box'
  fieldset.box {
    .border-radius(5px);
    border: none;
    background: @warmGrey;
    padding: 1.5em 0 .5em;
    margin: .5em 0 1.5em;
  }

  .actions {
    margin-bottom: 1.5em;

    a.cancel {
      text-decoration: none;
      line-height: 28px;
      padding: 0 1em;
      color: @lightGrey;
      &:hover {
        color: @white;
      }
    }
  }

  // Errorlists
  .errors {
    width: 15em;
    float: right;
  }
  .errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: @red;
  }

  // Radio fields
  .radio-field {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &.radio-horizontal {
      ul {
        li {
          display: inline-block;
        }
      }
    }
  }

  // Search fields
  .search-field {
    padding: 3px 0;

    input[type='search'] {
      .border-radius(3px);
      .box-sizing(border-box);
      width: 100%;
      background: @brokenWhite;
      border: none;
      padding: 5px 10px;
    }
  }

  // Table formsets
  .form-inline {
    input {
      .border-radius(3px);
      .box-sizing(border-box);
      width: 100%;
      background: @brokenWhite;
      border: none;
      padding: 5px 10px;
    }
  }

  // List displays
  .list-display {
    ul li {
      label {
        position: relative;
        margin: .35em 0;
        input {
          display: inline-block;
          width: 21px;
          height: 18px;
          visibility: hidden; 
        }
        .icon {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 21px;
          height: 18px;
          background: url('@{staticDir}/img/sprite-list-display.png') no-repeat 0 0;  
        }
        &.table {
          margin-right: 1em;
        }
        &.table .icon {
          background-position: -21px 0;
        }
        &.table.active .icon, &.table:hover .icon {
          background-position: -21px -18px;
        }
        &.thumbs.active .icon, &.thumbs:hover .icon {
          background-position: 0 -18px;
        }        
      }
    }
  }

  // Reset
  .reset-action {
    a {
      display: block;
      float: right;
      width: 20px;
      height: 20px;
      margin: 26px 0 0;
      background: url('@{staticDir}/img/icon-close.png') no-repeat 0 0;
      span {
        display: none;
      }
    }
  }
}

*/
table {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border-collapse: collapse;
  background: #212121;
  margin: 0 0 1.5em 0;
}
table th {
  padding: 10px 8px;
  font-weight: 500;
  text-align: left;
  color: #FFF;
}
table tr:hover td {
  background: #1A1A1A;
}
table td {
  border-top: 2px solid #1A1A1A;
  padding: 5px 8px;
  text-align: left;
}
table tr.detail-row td {
  border-top: 0;
}
table.detail-table {
  background: 0;
  margin: 1em 0;
}
table.detail-table td,
table.detail-table th {
  border: 0;
  padding: 0 0 0.5em;
}
table.detail-table thead th {
  border-bottom: 1px solid #333;
  padding-bottom: 0.5em;
}
table.detail-table tr:first-child td {
  padding-top: 0.5em;
}
table.detail-table tr.total td {
  border-top: 1px solid #333;
  padding-top: 0.5em;
}
table .align-right {
  text-align: right;
}
table.admission-overview td {
  vertical-align: top;
}
table.admission-overview ul {
  padding: 0;
  margin: 0;
}
table.admission-overview ul li {
  list-style-type: none;
}
.point-table tr:hover td.nf {
  background: #1A1A1A;
}
.point-table th {
  text-align: center;
}
.point-table .ranking td {
  text-align: right;
}
.point-table td.c {
  text-align: center;
}
.point-table td.l {
  text-align: left;
}
.point-table th.b {
  vertical-align: bottom;
}
.point-table td.nf {
  background: #252525;
  color: #E43229;
  text-align: center;
  font-weight: normal;
}
.point-table td.np,
.point-table td.nr {
  background: #252525;
}
.point-table td {
  border-left: 1px solid #1a1a1a;
}
.point-table td:first-child {
  border-left: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #AAA;
}
p,
td {
  line-height: 1.5em;
}
p {
  margin: 0 0 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  margin: 0 0 0.5em 0;
  color: #E3E3E3;
}
h1 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.sub-header {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}
a {
  color: #E3E3E3;
}
a:hover {
  color: #E3E3E3;
  text-decoration: underline;
}
strong {
  font-weight: 500;
  color: #FFF;
}
hr {
  border: 1px solid #333;
  border-style: solid none none;
  margin: 1em 0;
}
hr.light {
  border-color: #4d4d4d;
}
ul {
  padding: 0 0 0 1.5em;
  margin: 0 0 1.5em;
}
.hint {
  font-size: 14px;
  color: #777;
}
.hint a {
  color: #777;
}
.monospaced {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 0.9em;
}
.grey {
  color: #777;
}
.red-clr {
  color: #E43229;
}

