{% extends 'site/page_std.html' %}

{% block title %}Point{% endblock %}

{# Header #}
{% block page_title %}Pointoversigt <span class="hint">(point)</span>{% endblock %}

{% block page_content %}
    <section id="point-overview">
        <div class="description">
            <p class="sub-header">Oversigt over point i adventurespejd ligaen.</p>
        </div>

        <h3>Aktuel pointstilling</h3>
        <div class="alert">
            {% if point_set_current %}
            <a href="{% url 'point_set_season' point_set_current.season.number %}">Pointoversigt for {{ point_set_current.season }}</a>
            {% else %}
            Kommer snart!
            {% endif %}
        </div>

        <h3>Tidligere sæsoners pointstilling</h3>
        <ul>
            {% for point_set in point_set_archived %}
            <li><a href="{% url 'point_set_season' point_set.season.number %}">Pointoversigt for {{ point_set.season }}</a></li>
            {% endfor %}
        </ul>

    </section>

{% endblock %}