{% extends 'site/page_single_col.html' %}

{% block title %}Point{% endblock %}

{# Header #}
{% block page_title %}Pointstilling {{ point_set.season.name }} <span class="hint">(point)</span>{% endblock %}

{% block page_content %}
    <section id="point-overview">
        <div class="description">
            
        </div>
    </section>
    {% if point_set.mode == "html" %}
    	<div class="point-table">
    	{{ point_set.html_data|safe }}
    	</div>
    {% elif mode == "json" %}
    	{{ point_set.serialized_data }}
    {% endif %}
{% endblock %}