{% load i18n %}
{% load league_utils %}

{% for seasonal_race in seasonal_races %}
<section class="widget seasonal-object">
    <header>
        <h3 class="title">Seasonløb for: {{ season }}</h3>
    </header>
    {% if seasonal_race %}
        {% pprint_object seasonal_race %}
    {% else %}
        <p>Dette løb har endnu ikke oprettet et sæsonløb for denne sæson!</p>
    {% endif %}
</section>
{% endfor %}