{% load django_tables2 %}
<section id="user-seasonal-races" class="content-section">
    <header>
        <h3>Sæsonløb <span class="hint">(<a href="#">løb</a>)</span></h3>
    </header>
    {% if action_needed %}
    <div class="alert">{{ action_needed }}</div>
    {% else %}
    <p>Sæsonløb tilknyttet til dit løb. <a href="#">Hvad er sæsonløb?</a></p>
    {% render_table seasonalrace_table %}
    {% endif %}
</section>