{% load league_utils %}
{% load thumbnail %}
<section id="user-race" class="content-section clearfix">
{% if race %}
	<header>
		<h3>{{ race.name }} <span class="hint">(<a href="#">løb</a>)</span></h3>
	</header>
	{% if race.list_image %}
    <div class="image">
        {% thumbnail race.list_image|default:'default/img-default.png' '750x300' crop='smart' upscale as img %}
        <img src="{{ img.url }}" />
    </div>	
	{% endif %}
	{% pprint_object race %}
	<a href="{% url 'race_edit' race.pk %}" class="button">Redigér løb</a>
{% else %}
	<div class="alert">Du har endnu ikke oprettet et løb!</div>
	<a href="{% url 'race_create' %}" class="button red">Opret et nyt løb</a>
{% endif %}
</section>