<div class="tabbable">
    <ul class="nav nav-tabs">
    {% for item in tabbable_content %}
        {% if forloop.first %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#{{ item.id }}">{{ item.caption }}</a>
        </li>
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for item in tabbable_content %}
        <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ item.id }}">
            {% include item.content_template with content=item.content_context %}
        </div>
    {% endfor %}    
    </div>
</div>