{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{# Header #}
{% block page_title %}Registrering gennemført for {{ registration.seasonal_admission }}{% endblock %}

{# Content #}
{% block page_content %}    
<hr>

<h3>Tak for din tilmelding!</h3>

<h3>Deltagere</h3>

<table>
<thead>
	<tr>
		<th>Deltager</th>
		<th>Mærker</th>
		<th>Tshirt</th>
		<th>Pris</th>
	</tr>
</thead>
<tbody>
{% for item in registration_data.merchandise %}
<tr>
<td>{{ item.name }}</td>
<td>{% if item.stamp_std %}Std{% endif %} {% if item.stamp_yr %}Års{% endif %}</td>
<td>{{ item.tshirt }}</td>
<td>{{ item.price }},-</td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Betaling</h3>
<p>Du bedes betale {{ registration_data.price }},- kr. via bank overførelse på:</p>
<div class="meta">
    <div class="field">
        <span class="label grey">Reg. nr.</span> 
        <span class="value">9280</span> 
    </div>
    <div class="field">
        <span class="label grey">Konto nr.</span> 
        <span class="value">4580346761</span>     
    </div>
</div>
<p><strong>Skriv venligst jeres LigaID ved betaling.</strong></p>
<p>Din tilmeldelse vil først blive accepteret når betalingen er modtaget. I vil blive kontaktet af Invictusløbet på de mails som i har registreret jeres patrulje under. <i>(email adressen for din bruger)</i></p>
<p>Hvis du har spørgsmål kan du kontakte invictusloebet@gmail.com</p>
<p>Med venlig hilsen Invictusløbet</p>
{% endblock %}