{% extends 'site/page_std.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load league_utils %}
{% load league_form_helpers %}

{% block title %}{{ admission.name }}{% endblock %}

{# Header #}
{% block page_title %}{{ admission.name }}{% endblock %}

{# Content #}
{% block page_content %}

<hr />
    
{# Patrol #}
<div id="patrol">
    <header>
        <h3>{{ seasonal_patrol.patrol.name }} <span class="hint">(sæsonpatrulje)</span></h3>
    </header>	
    {% pprint_object seasonal_patrol %}
</div>

<hr />

{# Start form here, so the table is included #}
<form id="registration" class="form-horizontal" action="" method="post">{% csrf_token %}

{# Patrol members #}
<section id="patrol-members">
    <header>
        <h3>Deltagere (patruljemedlemmer)</h3>
        <p>Markér venligst hvilke patruljemedlemmer der deltagere på dette løb.<br />
        Du har kun mulighed for at vælge patruljemedlemmer, som er tilmeldt denne sæson.</p>
        <p><strong>Mærkér iøvrigt om patruljemedlemmet skal have en t-shirt og/eller et mærke.</strong></p>
        <p><a href="/regler" target="_BLANK">Læs mere om ligaens regler</a></p>
    </header>
    {% form_general_errors forms.participants %}
    {% if forms.participants.include.errors %}
        <div class="alert">{{ forms.participants.include.errors }}</div>
    {% endif %}
    
    {% include 'registrations/registration_invictus_participant_form.html' with items=patrol_members form=forms.participants %}
    <p>Du kan tilmelde imellem {{ min_member_count }} og {{ max_member_count }} deltagere til løbet.</p>

    <div class="alert">Prisen for deltagelse bliver ialt: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold" id="total-price">0</span>,- kr. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(der tages forbehold for evt. fejl)</div>

</section>

<hr />

<section id="registration">
    <header>
        <h3>Ekstra information</h3>
        <p>Notér venligst nummeret på to telefoner som i medbringer på løbet.</p>
    </header>
    <fieldset class="box">
    {% include 'site/forms/div_fields.html' with form=forms.registration %}
    </fieldset>
</section>

<hr />

{# Actions #}
<section>
<div class="actions">
    <input class="red button" type="submit" value="Tilmeld" />
    <a href="javascript:window.history.go(-1)" class="cancel">Anullér</a>
</div>
</section>

</form>
{% endblock %}

{% block page_aside %}
    <section class="widget clearfix">
    <header>
        <h3>Bemærk <span class="hint">(før du tilmelder dig!)</span></h3>
        <hr>
    </header>
    <p>Tjek venligst om du har tilmeldt dig den rigtige klasse. Hvis din patrulje ikke
        overholder aldersgrænserne vil din tilmelding blive annulleret!<br />
        <strong class="red-clr">Det er dit eget ansvar!</strong></p>
    <p>Aldersgrænserne er:</p>
    <ul>
        <li>12-16 år.</li>
    </ul>
    </section>

    <section class="widget clearfix">
    <header>
        <h3>Betaling</h3>
        <hr>
    </header>
    <p>Betalingen foregår via Bankoverførelse. Din tilmelding vil blive registreret når du klikker tilmeld, men vil først endeligt blive accepteret når du har overført et korrekt beløb.
    </p>
    <p><strong>Priser:</strong></p>
    <ul>
    <li>Prisen for at deltage er 250 kr pr. deltagere</li>
    <li>Prisen for t-shirt er 100 kr pr. deltagere</li>
    <li>Prisen for et almindeligt mærke er 20 kr pr. deltagere</li>
    </ul>
    </section>

    <section class="widget clearfix">
    <header>
        <h3>Ledige pladser <span class="hint">(talt i deltagere)</span></h3>
        <hr>
    </header>
    <p>
        <ul>
            <li>Seniorspejder: {{ participants_open_slots.S }}</li>
            <li>Tropspejder: {{ participants_open_slots.U }}</li>
        </li>
    </p>
    </section>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">        
        (function($) {
            var unitPrice = 250,
                tshirtPrice = 100,
                stampStdPrice = 20,
                updatePrice;


            $(function() {

                var updatePrice = function() {
                    var totalPrice = 0;

                    $('#participant_form tbody tr').each(function(i, elem) {
                        if ($('.include input', elem).is(':checked')) {
                            var p = unitPrice;

                            // Tshirt
                            if ($('.tshirt select', elem).val() != 0) {
                                p += tshirtPrice;
                            }
                            // Stamp regular
                            if ($('.stamp-std input', elem).is(':checked')) {
                                p += stampStdPrice;
                            }
                            totalPrice += p;
                        }
                    });
                    $('#total-price').text(totalPrice);
                    $('#hidden-total-price').val(totalPrice);
                }

                $('#participant_form tbody').on('change', 'input, select', updatePrice);
                updatePrice();

                $('#participant_form thead .include input').change(function() {
                    var checks = $('#participant_form tbody .include input');

                    if (checks.filter(':checked').size() == checks.size()) {
                        checks.prop('checked', false);
                    } else {
                        checks.prop('checked', true);
                    }
                    updatePrice();
                });

            });
        })(jQuery);
    </script>
{% endblock %}  
