{% extends 'site/page_std.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load league_utils %}
{% load league_form_helpers %}

{% block title %}{{ admission.name }}{% endblock %}

{# Header #}
{% block page_title %}{{ admission.name }}{% endblock %}

{# Content #}
{% block page_content %}

<hr />
    
{# Patrol #}
<div id="patrol">
    <header>
        <h3>{{ seasonal_patrol.patrol.name }} <span class="hint">(sæsonpatrulje)</span></h3>
    </header>	
    {% pprint_object seasonal_patrol %}
</div>

<hr />

{# Start form here, so the table is included #}
<form id="registration" class="form-horizontal" action="" method="post">{% csrf_token %}

{# Patrol members #}
<section id="patrol-members">
    <header>
        <h3>Deltagere (patruljemedlemmer)</h3>
        <p>Markér venligst hvilke patruljemedlemmer der deltagere på dette løb.<br />
        Du har kun mulighed for at vælge patruljemedlemmer, som er tilmeldt denne sæson.</p>
        <p><a href="#">Læs mere om ligaens regler</a></p>
    </header>
    {% form_general_errors forms.participants %}
    {% if forms.participants.include.errors %}
        <div class="alert">{{ forms.participants.include.errors }}</div>
    {% endif %}
    
    {% include 'registrations/registration_participant_form.html' with items=patrol_members form=forms.participants %}
    <p>Du kan tilmelde imellem {{ min_member_count }} og {{ max_member_count }} deltagere til løbet.</p>
</section>

<hr />

<section id="registration">
    <header>
        <h3>Specielle hensyn</h3>
        <p>Skriv venligst om i har allergier eller andre ting vi skal være opmærksomme på, ved jeres tilmelding, nedenfor.</p>
    </header>
    <fieldset class="box">
    {% include 'site/forms/div_fields.html' with form=forms.registration %}
    </fieldset>
</section>

<hr />

{# Actions #}
<section>
<div class="actions">
    <input class="red button" type="submit" value="Tilmeld" />
    <a href="javascript:window.history.go(-1)" class="cancel">Anullér</a>
</div>
</section>

</form>

{% endblock %}

{% block page_aside %}
    
    <section class="widget clearfix">
    <header>
        <h3>Bemærk <span class="hint">(før du tilmelder dig!)</span></h3>
        <hr />
    </header>
    <p>Tjek venligst om du har tilmeldt dig den rigtige klasse. Hvis du patrulje ikke
        overholder aldersgrænserne for Solaris' to klasser vil din tilmelding blive annulleret!<br />
        <strong class="red-clr">Det er dit eget ansvar!</strong></p>
    <p>Aldersgrænserne er:</p>
    <ul>
        <li>14-17 år. Du må ikke være fyldt 18 år ved løbets start.</li>
        <li>18 år og op efter. Der er ingen øvre aldersgrænse.</li>
    </ul>
	<h4>Foropgave / Udtagelsesprøve</h4>
	Da løbet i år er aflyst og vi i stedet samarbejder med firmaet Sin Jarron, har arrangørerne bag Sin LUX Eventet besluttet, at der forud for den endelige tilmelding vil være en udtagelsesprøve.
    Udtagelsen er ikke først til mølle, men drejer sig om teamwork, så overvej at samle patruljen i løbet af de næste 12 timer!
    Shang Li og Løbsledelsen 
    </section>
    <!--<h4>Betaling</h4>
    <p>Betalingen foregår via GruppeWeb. Din tilmelding vil dog blive registreret når du klikker tilmeld.
       Du har derefter 1 timer til at gennemføre betalingen ellers vil din tilmelding blive annulleret! Din tilmelding er endelig godkendt, når der modtages en bekræftelsesmail fra Gruppeweb.</p>    
    </section>

    <div style="height:12px"></div>

    <section class="widget clearfix">
    <header>
        <h3>Ledige pladser <span class="hint">(talt i deltagere)</span></h3>
        <hr />
    </header>
    <p>
        <ul>
            <li>Seniorspejder: {{ participants_open_slots.S }}</li>
            <li>Tropspejder: {{ participants_open_slots.U }}</li>
        </li>
    </p>
    </section>
	-->

{% endblock %}
