{% extends 'site/page_std.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load league_utils %}

{% block title %}{{ admission.name }}{% endblock %}

{# Header #}
{% block page_title %}{{ admission.name }}{% endblock %}

{# Content #}
{% block page_content %}
<hr />
    
{# Patrol #}
<div id="patrol-leader">
    <header>
        <h3>{{ patrol.name }} <span class="hint">(sæsonpatrulje)</span></h3>
    </header>	
    {% pprint_object seasonal_patrol %}
</div>

<hr />

{# Start form here, so the table is included #}
<form id="registration" class="form-horizontal" action="" method="post">{% csrf_token %}

{# Patrol members #}
<section id="patrol-members">
    <header>
        <h3>Deltagere (patruljemedlemmer)</h3>
        <p>Markér venligst hvilke patruljemedlemmer der deltagere på dette løb.<br />
        Du har kun mulighed for at vælge patruljemedlemmer, som er tilmeldt denne sæson.</p>
        <p><a href="#">Læs mere om ligaens regler</a></p>
    </header>
    {% render_table member_table %}
</section>

<hr />

{# Extra data #}
{% if registration_form %}
<section id="extra-data" class="form">
    <header>
        <h3>Ekstra tilmeldingsinformation</h3>
        <p>For at du kan tilmelde dig {{ race.name }}, er det nødvendigt at du udfylder følgende.</p>
    </header>    
    <fieldset id="patrol" class="box">
        {% include 'site/forms/div_fields.html' with form=registration_form %}
    </fieldset>
</section>
{% endif %}

{# Actions #}
<div class="actions">
    <input class="red button" type="submit" value="Gå til betaling" />
    <a href="javascript:window.history.go(-1)" class="cancel">Anullér</a>
</div>

</form>
{% endblock %}