{% extends 'site/page_std.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load league_utils %}

{% block title %}{{ admission.name }}{% endblock %}

{# Header #}
{% block page_title %}{{ admission.name }}{% endblock %}

{# Content #}
{% block page_content %}

<hr />

<h3 class="red-clr">BEMÆRK: Det er kun muligt at tilmelde sig som tropspejder igennem Ligaen!</h3>
<p>
	Deltagene seniorpatruljer på Nathejk, <strong>er ikke med i liga konkurrencen!</strong> Hvis du ønsker at tilmelde dig som senior, skal du gøre det på Nathejks tilmeldingsside for seniore. <a href="http://tilmelding.nathejk.dk">Nathejk tilmeldingsside</a>
</p>

<hr />
    
{% if seasonal_patrol %}

{# Patrol #}
<div id="patrol">
    <header>
        <h3>{{ seasonal_patrol.patrol.name }} <span class="hint">(sæsonpatrulje)</span></h3>
    </header>	
    {% pprint_object seasonal_patrol %}
</div>

<hr />

{# Start form here, so the table is included #}
<form id="registration" class="form-horizontal" action="" method="post">{% csrf_token %}

{# Patrol members #}
<section id="patrol-members">
    <header>
        <h3>Deltagere (patruljemedlemmer)</h3>
        <p>Markér venligst hvilke patruljemedlemmer der deltagere på dette løb.<br />
        Du har kun mulighed for at vælge patruljemedlemmer, som er tilmeldt denne sæson.</p>
        <p><a href="#">Læs mere om ligaens regler</a></p>
    </header>
    {% render_table member_table %}
</section>

<hr />

{# Actions #}
<section>
<div class="actions">
    <input class="red button" type="submit" value="Tilmeld" />
    <a href="javascript:window.history.go(-1)" class="cancel">Anullér</a>
</div>
</section>

</form>

{% else %}

<div class="alert">Du har ikke oprettet en patrulje for {{ season }}. Det er nødvendigt for at tilmelde sig løbet igennem ligaen for denne sæson!</div>

{% endif %}
{% endblock %}