{% extends 'site/page_std.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{# Header #}
{% block page_title %}{{ page_title }}{% endblock %}

{# Content #}
{% block page_content %}
    
<div class="form">
    <form id="patrols-create" class="form-horizontal" action="" method="post">{% csrf_token %}
        <fieldset id="patrol" class="box">
            {% include 'site/forms/div_fields.html' with form=form %}
        </fieldset>
        <div class="actions">
            <input class="red button" type="submit" value="Gem" />
        </div>
    </form>
</div>

{% endblock %}