{% load thumbnail %}
{% load i18n %}
{% load content_tags %}

<div class="thumb span4">
    <div class="image list-image">
        {% list_image object.patrol %}    
    </div>
    <h3 class="title">{{ object.patrol.name }}</h3>
    <div class="meta">        
        <!--  Competition classes -->
        {% for obj in object.get_competition_classes_sorted %}
        <div class="field">
            <span class="label grey">{% trans obj.category.1 %}: </span>
            <span class="value">
                {% for item in obj.list %}{% if not forloop.first %}, {% endif %}
                {{ item.name }}{% empty %}
                {% trans 'None' %}
                {% endfor %}
            </span>
        </div>
        {% endfor %}
    </div>
    <div class="description">
        {{ object.patrol.description|truncatewords:25 }}
    </div>
    <a class="button" href="{% url 'patrol_detail' object.patrol.pk %}">Læs mere om patruljen</a>
</div>