{% extends 'site/page_std.html' %}
{% load thumbnail %}
{% load markup_tags %}
{% load registration_tags %}
{% load patrol_tags %}
{% load content_tags %}

{% block title %}{{ race.name }}{% endblock %}

{# Header #}
{% block page_title %}{{ object.name }} <span class="hint">(Patrulje)</span>{% endblock %}

{# Cover image #}
{% block cover %}
    <div class="image cover-image">
        {% cover_image object False %}
    </div>
{% endblock %}

{% block page_content %}
    <section id="race">
        <div class="description">
            {{ object.description|apply_markup:"markdown" }}
        </div>
    </section>
    <hr />

    {# Seasonal patrol members widget #}
    <section id="seasonal-patrol-members" class="seasonal-widget clearfix" data-behavior="SeasonalPatrolMembersWidget" data-seasonalpatrolmemberswidget-options="{'dataUrl':'{% url 'api_patrol_seasonal_patrols' object.pk %}'}">
    <header>
        <h3>Patruljemedlemmer <span class="hint season"></span></h3>
    </header>
    </section>
{% endblock %}

{% block page_aside %}
    {# Seasonal patrol widget #}
    <section id="seasonal-patrol" class="seasonal-widget widget clearfix" data-behavior="SeasonalPatrolWidget" data-seasonalpatrolwidget-options="{'dataUrl':'{% url 'api_patrol_seasonal_patrols' object.pk %}'}">
    <header>
        <h3>Sæsonpatrulje <span class="hint season"></span></h3>
    </header>
    </section>
{% endblock %}