{% extends 'site/page_std.html' %}
{% load i18n %}
{% load markup_tags %}
{% load league_form_helpers %}
{% load content_tags %}
{% load django_tables2 %}

{% block title %}{% trans "Login" %}{% endblock %}

{# Header #}
{% block page_title %}{{ page_title }}{% endblock %}

{# Content #}
{% block page_content %}
<div class="form">
    <form id="patrols-create" class="form-horizontal" action="" method="post">{% csrf_token %}
        {% if form %}
        {% form_general_errors form %}
        {% endif %}
        
        <h3>Aldersklasse</h3>
        {% if form %}
        <fieldset id="patrol" class="box">
            {% include 'site/forms/div_field.html' with field=form.age_class %}
        </fieldset>
        {% else %}
        <div class="alert">{{ competition_classes.age }} <span class="hint">(Kan ikke ændres!)</span></div>
        {% endif %}
        {% text_content 'seasonalpatrol form age class help' as text %}
        <div class="help">{{ text|apply_markup:"markdown" }}</div>

        <h3>Konkurrenceklasse</h3>
        {% if form %}
        <fieldset id="patrol" class="box">
            {% include 'site/forms/div_field.html' with field=form.comp_class %}
        </fieldset>
        {% else %}
        <div class="alert">{{ competition_classes.competition }} <span class="hint">(Kan ikke ændres!)</span></div>
        {% endif %}
        {% text_content 'seasonalpatrol form comp class help' as text %}
        <div class="help">{{ text|apply_markup:"markdown" }}</div>

        {# Members - Hardcoded for now! #}
        <h3>Patruljemedlemmer</h3>
        <div class="form-inline">
        <table>
        <thead>
            <tr>
                <th class="name">Navn</th>
                <th class="name">Køn</th>
                <th class="name">Telefon</th>
                <th class="name">E-mail</th>
                <th class="name">Fødselsdato</th>
            </tr>
        </thead>

        {# Existing mebers - not editable #}
        {% if members %}
        {% for member in members %}
        <tr>
            <td class="name">{{ member.name }}</td>
            <td class="sex">{{ member.get_sex_display }}</td>
            <td class="phone">{{ member.phone }}</td>
            <td class="email">{{ member.email }}</td>
            <td class="birth_date">{{ member.birth_date }}</td>
        </tr>
        {% endfor %}
        {% endif %}

        {# New mebers - as form fields #}
        {% for member_form in member_formset %}
        <tr>
            {% for field in member_form %}
            <td>
                {{ field }}
                {{ field.errors }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
        {{ member_formset.management_form }}
        {% text_content 'seasonalpatrol form members help' as text %}
        <div class="help">{{ text|apply_markup:"markdown" }}</div>
        </div>

        <div class="actions">
            <input class="red button" type="submit" value="Gem" />
            <a href="javascript:window.history.go(-1)" class="cancel">Anullér</a>
        </div>
    </form>
</div>

{% endblock %}

{# Aside #}
{% block page_aside %}
    <div class="widget">
        <h3>Spørgsmål til reglerne?</h3>
        <p>Du kan læse mere om ligaens regler på vores side om regler: <a href="/regler">Ligaens regler</a></p>
    </div>
{% endblock %}